<form class="example-form">
<md-form-field class="example-full-width">
  <input mdInput [(ngModel)]="stockName" placeholder="Pick a Stock" aria-label="Number"  [formControl]="stateCtrl" [mdAutocomplete]="auto" >
  <md-autocomplete #auto="mdAutocomplete"[displayWith]="displayFn">
        <md-option (onSelectionChange)="selected($event, Symb)" *ngFor="let Symb of filteredSymbol | async" [value]="Symb">
                 {{ Symb.Symbol}}  {{ Symb.Name }}
        </md-option>
  </md-autocomplete>
  
</md-form-field>

</form>

<!--
<button type="button" md-button (click)="searchStock()" >search</button>
<h5>{{companyName}}</h5>
<h5>{{primeEx}}</h5>

-->


