.md-button {
    min-width: 10em;
    font-weight: 500;
  }
  
  
  .example-container {
    width: 1500px;
    height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  md-sidenav {
    width: 300px;
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .mat-toolbar.mat-accent {
    background:#13119E;
    color: #fff;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
    font-family:fantasy;
    font-size: 14px;
    font-weight: 500;
}

.SampleDiv1{ 
  background-color:#00E676; 
  height:50%;
}

.SampleDiv2{ 
  background-color:#1DE9B6; 
   height:50%;
}


.SampleDiv3{ 
  background-color:#85ECD1; 
   height:50%;
}